<!-- Hola! Este template fue realizado por Fermín Luis -->
    <!-- Requiere ajustar 'backgroud-color' 'width' en index.html ver en /share/div-conteiner-fluid_from-index  -->
    <div class="border-top pt-5"><h1>Portfolio</h1></div>
    <div><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>
    <div class="row">
        <!-- vista scrolling en pantallas menores a 750px ver en /share -->
        <div class="col-lg-4 mb-3">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body ">
              <h5 class="card-title text-primary">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>